@media (max-width: 1080px) {
  .menuLateral ul {
    flex-direction: column;
    align-items: flex-start;
  }
  
  .menuLateral {
    right: -300px;
    width: 300px;
    height: 100vh;
    height: 100vh;                                     
    position: fixed;  
    top: 0;
    padding-top: 70px;
    z-index: 1;
    transition: 0.8s ease-in-out;
 }
 .botaoMenu input:checked ~ .menuLateral {
    right: 0;
  }
  .menu,
  .alteraMenu {
    display: block;
  }

  #salaComunal, 
  #diretor {
    display: flex;
    flex-direction: column;
  }

  #salaComunal img,
  #diretor img {
    max-width: 100%;
    margin: 0 auto;
    float: none;
  }
}

@media (max-width: 950px) {
  main {
    flex-direction: column-reverse;
    gap: 20px;
  }
  
  #conteudoLateral {
    margin: 30px auto;
    max-width: 70%;
  }

  .footer{
    flex-direction: column;
  }
  .about {
      max-width: 500px;
  }
  .social-media {
    margin-top: 20px;
  }
  .hogwarts-crest {
      display: none;
  }
  .top-button {
      scale: 0.75;
  }
}

@media (max-width: 600px) {
  /* #conteudoLateral {
     display: none;
  } */

  #principal {
    width: 90%;
  }

  #principal img {
    max-width: 150px;
  }

  #principal p {
    hyphens: auto;
  }

  #cardSection {
    width: 100%;
  }

  #menuBaixo {
    width: 100%;
    display: none;
  }

  #diretor {
    margin-bottom: 30px;
  }

  #menuBaixo ul li:nth-child(2) a {
    display: none;
  }

  #menuBaixo ul li:nth-child(1) img {
    max-width: 20px;
  }

  #menuBaixo ul li{
    font-size: 0.8em;
    align-items: center;
    margin: 8px;
  } 

  #menuBaixo .ocultar {
    display: block;
  }

  .ocultar {
  display: none;
  }

  #menuBaixo ul li{
    font-size: 0.8em;
    align-items: center;
    
    margin: 8px;
  }
  p {
    font-size: 1em;
  }

  h1 {
    font-size: 2em;
  }

  #bemVindo img {
    max-width: 180px;
  }

  #grid  {
    min-width: 70%;
    display: flex;
    align-items: center;
  } 

  #card  {
    min-width: 100%;
    margin: 8px;
    overflow: hidden;
  }

  #bemVindo p:nth-child(2)  {
    font-size: 0.80em;
    line-height: 1.2;
  }

  .letter {
    width: 450px;
    transition: all 5s;
  }

  main .box {
    width: 800px;
    padding: 20px;
    /* height: 100vh; */
    background-color: rgb(24, 240, 168);
    border: none;
  }

  main {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
}