@import url('https://fonts.googleapis.com/css2?family=Bigelow+Rules&family=Pacifico&family=Roboto:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bigelow+Rules&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto';
}

body {
    background-color: #A60311;
    background-image: url(../img/brilho.gif);
}

header {
    background-color: rgb(218, 180, 13);
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
}
    
#logo h1 {
    font-family: 'Bigelow Rules', cursive;
    font-size: 45px;
    margin: 30px;
}

.liNav  {
    font-size: 30px;
    list-style: none;
    display: inline;
    margin-right: 30px;
}

a {
    color: rgb(78, 78, 98);
    text-decoration: none;
}

main {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#grid {
    width: 50%;
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

.imgCard {
    width: auto;
    height: 280px;
    border-radius: 10px;
}

#card {
    background-color: aliceblue;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 300px;
    height: auto;
    border: 3px dotted black;   
    margin-bottom: 10px;
}

#card:hover {
    transition: transform 0.3s ease-in-out;
    transform: scale(1.03);
}

h1 {
    margin-top: -20px;
    font-family: 'Bigelow Rules', cursive;
    font-size: 40px;
    text-align: center;
}

h2 {
    text-align: center;
    padding: 5px;
}

#txtCard {
    text-align: justify;
    padding: 20px;
}
#txtCard p {
    margin-bottom: 3px;
}

a {
    text-decoration: none;
    color: #A60311;
}

a:hover{
    font-weight: bold;
}

header {
    background-color: rgb(218, 180, 13);
    height: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row-reverse;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
    padding: 30px;
}

#menuLateral li{
    color: aliceblue;
    list-style: none;
    padding: 20px;
    text-transform: uppercase;
}

aside {
    display: none;
    background-color: #10141b;
    width: 40%;
    height: 100vh;
    position: fixed;
    top: 0;
}
 
#menuLateral li{
    color: aliceblue;
    list-style: none;
    padding: 20px;
    text-transform: uppercase;  
}

a {
    text-decoration: none;
    color: #ffffff;
}
 
a:hover{
    font-weight: bold;
    cursor: pointer;
}

#logo h1 {
    font-family: 'Bigelow Rules', cursive;
    font-size: 45px;
    margin: 30px;
    color: #ffffff;
}

#cardSection a {
    color: #A60311;
    font-weight: bold;
}