@import url('https://fonts.googleapis.com/css2?family=Bigelow+Rules&family=Pacifico&family=Roboto:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bigelow+Rules&display=swap');

:root {
   --escarlate : #A60311;
   --ouro: #DAB40D;
   --ouroHover:#dab40dcb;
   --branco: #ffffff;
   --preto: #000000;
   --sombraFonte: 2px 2px 4px rgba(0, 0, 0, 0.5);
   --sombraDiv: 0px 2px 6px rgba(0, 0, 0, 0.1);
}

*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: 'Roboto';
   /* color: var(--branco); */
}

html {
   scroll-behavior: smooth;
}

body {
   background-color: var(--escarlate);
   background-image: url(../img/brilhoVermelho.gif);
}

header {
   background-color: var(--ouro);
   height: 10px;
   width: 100vw;
   display: flex;
   justify-content: space-between;
   align-items: center;
   box-shadow: var(--sombraDiv);
   padding: 30px;
   position: fixed;
   top: 0;
}

.logo-img {
   height: 70px;
}

#logo {
   display: flex;
   align-items: center;
   justify-content: center;
}

#logo h1 {
   font-family: 'Bigelow Rules', cursive;
   font-size: 45px;
   margin: 30px;
   color: var(--escarlate);
   text-shadow: var(sombraTexto);
}

.botaoMenu {
   display: flex;
   align-items: center;
   justify-content: center;
   position: relative;
   cursor: pointer;
}

.menu {
   position: relative;
   width: 30px;
   height: 4px;
   background: var(--escarlate);
   border-radius: 10px;
   z-index: 2;
   transition: .8s ease-in-out;
}

.menu::before,
.menu::after {
   content: "";
   position: absolute;
   width: 30px;
   height: 4px;
   background: var(--escarlate);
   border-radius: 10px;
   transition: .8s ease-in-out;
}

.menu::before {
   top: -10px;
}

.menu::after {
   top: 10px;
}

.alteraMenu {
   position: absolute;
   width: 30px;
   height: 30px;
   cursor: pointer;
   z-index: 3;
   opacity: 0;
}

.botaoMenu input:checked ~ .menu {
   background: transparent;
}

.botaoMenu input:checked ~ .menu::before {
   top: 0;
   transform: rotate(-45deg);
}

.botaoMenu input:checked ~ .menu::after {
   top: 0;
   transform: rotate(45deg);
}

.botaoMenu input:checked ~ .menu::before, .menu::after, .alteraMenu {
   z-index: 10;
}

.menuLateral {
   background-color: var(--ouro);
}

.menuLateral ul{
   display: flex;
   align-items: center;
   justify-content: space-between;
}

.botaoMenu input:checked ~ .menuLateral {
   right: 0;
}

.menu,
.alteraMenu {
   display: none;
}

.menuLateral li{
   color: var(--branco);
   list-style: none;
   padding: 20px;
   text-transform: uppercase;
}

.menuLateral a {
   width: 300px;
   height: 20px;
   color: var(--escarlate);
   font-weight: bold;
   text-shadow: .5px .5px 0 var(--escarlate);
   background: linear-gradient(90deg, var(--escarlate), 50%, transparent, 50%);
   display: inline;
   background-size: 200%;
   background-repeat: no-repeat;
   background-position: 100% 28px;
   transition: 1s ease-in-out;
}

.menuLateral a:hover {
   background-position: 0% 28px;
}

/* span {
   color: var(--escarlate);
} */

.liNav  {
   font-size: 30px;
   list-style: none;
   display: inline;
   margin-right: 30px;
}

main {
   display: flex;
   margin: 0 auto;
   flex-direction: row-reverse;
   width: 90%;
}

#principal{
   display: flex;
   min-width: 350px;
   width: 70%;
   height: auto;
   margin: 0 auto;
   background-color: var(--branco);
   padding: 30px;   
}

#salaComunal img {
   width: 300px; 
   float: right; 
   margin-left: 10px; 
   margin-top: 18px; 
   padding: 5px; 
   padding-bottom: 0;
}

#diretor img {
   width: 200px; 
   float: left; 
   margin-right: 10px;
   padding: 5px; 
   padding-bottom: 0;
}

#conteudoLateral {
   margin: 30px;
   padding: 20px;
   min-width: 300px;
   max-width: 30%;
   background-image: url(../img/bgAside.jpg);
   background-size: contain; 
   background-position: center;
   font-weight: bold;
   margin-top: 0px;
}


#bemVindo {
   width: 100%;
   background-color: var(--escarlate);
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
   padding: 30px;
   background-image: url(../img/brilhoVermelho.gif);
   font-size: 20px;
   font-weight: lighter;
   margin-top: 50px;
}

#bemVindo p {
   color: var(--branco);
   text-align: center;
   margin-bottom: 10px;
   background-color: var(--escarlate);
   font-weight: bold;
   text-shadow: var(sombraTexto);
}

#bemVindo img {
   width: 200px;
}


.destaqueLetra {
   font-size: 30px;
   font-weight: bold;
   color: var(--ouro);
   font-family: 'Bigelow Rules', cursive;
}

.imgCard {
   max-width: 220px;
   border-radius: 5px;
}

#card {
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
   width: 100%;
   height: auto;
   border: 3px dotted var(--preto);   
   margin-bottom: 10px;
}

h1 {
   margin-top: -20px;
   font-family: 'Bigelow Rules', cursive;
   font-size: 40px;
   text-align: center;
   color: var(--preto);
   text-shadow: var(sombraTexto);
}

h2 {
   text-align: center;
   padding: 5px;
   color: var(--branco);
   text-shadow: var(sombraTexto);
}

#txtCard {
   text-align: justify;
   padding: 20px;
   color: var(--preto);
}

a {
   text-decoration: none;
   color: var(--branco);
}

a:hover{
   font-weight: bold;
   cursor: pointer;
}


ol {
   margin-left: 30px;
   margin-bottom: 15px;
   margin-top: 15px;
}

h3 {
   margin-top: 5px;
   border-bottom: 1px solid rgb(145, 145, 152);
   color: var(--preto);
   margin-bottom: 10px;
   padding: 5px;
}


#menuBaixo {
   display: none;
   width: 100%;
   position: fixed;
   bottom: 0;
   left: 0;
   background-color: var(--escarlate);
}

#menuBaixo ul {
   display: flex;
   align-items: center;
   justify-content: center;
   
}

#menuBaixo li {
   margin: 10px;
   list-style: none;
}

#menuBaixo a {
   color: var(--ouro);
   font-weight: bold;
}

#menuBaixo a:hover {
   color: #a3964c;
}

.ocultar {
   width: 30px;
}

#cardSection {
   width: 80%;
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
   margin: 0 auto;
}

/* #principal :nth-child(9) {
   margin-bottom: 30px;
} */

#cardSection p {
   text-align: justify;
   line-height: 1.5;
   color: var(--preto);
}

h1 {
   margin-top: -20px;
   font-family: 'Bigelow Rules', cursive;
   font-size: 40px;
   text-align: center;
   color: var(--preto);
}

h2 {
   text-align: center;
   padding: 5px;
   color: var(--preto);
}

p {
   color: var(--preto);
}

#conteudoLateral a {
   color: var(--escarlate);
   font-weight: bold;
}

#conteudoLateral a:hover {
   color: #963e3e;
}

#cardSection a {
   color: var(--escarlate);
   font-weight: bold;
}

.footer {
   background-color: var(--escarlate);
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: space-around;
   margin: auto 30px;
   margin-top: 10px;
   border-top: 1px solid var(--ouro);
   padding: 30px 30px;
   position: relative;
}
.footer-main {
   display: flex;
   flex-direction: row;
   align-items: center;
}
.hogwarts-crest {
   width: 100px;
}
.about {
   max-width: 420px;
   margin-left: 50px;
   text-align: justify;
}
.about div {
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: space-around;
   gap: 10px;
   text-align: left;
}
.footer-text {
   color: var(--ouro);
   font-weight: 800;
   margin-bottom: 20px;
}
.about a {
   text-decoration: none;
   font-weight: 600;
   color: var(--ouro);
}
.social-media p {
   font-weight: 700;
   color: var(--ouro);
   margin-bottom: 10px;
}
.social-media-logos {
   display: flex;
   flex-direction: row;
   justify-content: space-around;
   font-size: 25px;
}
.social-media-logos a {
   color: var(--ouro);
}
.footer a {
   text-decoration: none;
   color: var(--ouro);
   transition: 0.5s ease-in-out;
}
.footer a:hover {
   color: var(--ouroHover);
}
.top-button {
   position: absolute;
   width: 50px;
   height: 50px;
   background-color: var(--ouro);
   display: flex;
   align-items: center;
   justify-content: center;
   font-size: 25px;
   transform: rotateZ(-45deg);
   top: -25px;
   right: 30px;
}
.top-button i {
   transform: rotateZ(45deg);
   color: var(--escarlate);
}

